<?xml version="1.0" encoding="UTF-8"?>
<!-- https://springframework.guru/using-logback-spring-boot/ -->
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <springProfile name="!dev">
        <logger name="org.springframework" level="WARN"/>        
    </springProfile>
    <logger name="org.mongodb.driver" level="WARN"/>
    <logger name="io.undertow" level="ERROR"/>
    <logger name="org.xnio" level="ERROR"/>
</configuration>
